# Solapi (Kakao Alimtalk) Configuration
SOLAPI_API_KEY=
SOLAPI_API_SECRET=
SOLAPI_PFID=
SOLAPI_SENDER_NUMBER=

# Supabase Configuration
VITE_SUPABASE_URL=https://pleuqhqpvcsmflehmvyy.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable__3_VIZ6dkhxqvhAioUJ2Hg_8QaPe1Aw
